<%- include('../layouts/user/header.ejs')%>
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix" style="display: flex;">
            <%products.forEach(product=>{%>
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/product-details/<%= product._id %>">
                        <!-- <img src="/img/bg-img/1.jpg" alt=""> -->
                        <img src="<%=product.prodImages[0]%>" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From Rs <%=product.price%>
                            </p>
                            <h4>
                                <%=product.name%>
                            </h4>
                        </div>
                    </a>
                </div>
                <%})%>

        </div>
    </div>
    </div>
    <%- include('../layouts/user/footer.ejs')%>